<h1 class="green-text text-darken-3">About</h1>
<hr>
<p>An app that let's you create profiles, write public or private stories, 
   comment on them, and share them with others if you choose to do so.
</p>
<hr>
<p>Version 1.0.0 - Beta</p>